

	footer.footer{
    text-align: center;
    /*! overflow: hidden; */
    position: relative;
    z-index: 4;
    padding-top: 50px;
    background: #f2f2f2;
    margin-bottom: 48px;
	}

		 footer.footer.dark{
	background-color: #1c212e;
	color: white;
		}
		 footer.footer:after{
	   content: " ";
	   display: block;
	   height: 0;
	   clear: both;

	}


		 footer.footer .line{

		text-align: center;
		margin-bottom: 10px;
		}

		 footer.footer .line .inner{

		background-color: #17a185;
		display: inline-block;
		width: 75px;
		height: 2px;
		}


		 footer.footer h1{


		/*! color: #676a6c; */
		font-size: 30px;
		font-weight: 200;
		margin-bottom: 12px;
		}


		 footer.footer h4{

		font-size: 16px;
		}



footer.footer .button{
	margin-top:10px;
	padding-bottom: 50px;
}

	footer.footer > .container{
		z-index: 2;
	}



		section.footerCopy .left{
	  text-align: left;
	    float:left;
	    width: 50%;
		}
		section.footerCopy .right{
	  text-align: right;
	    float:right; 
	    width: 50%;
		}

	section.footerCopy{
  position: fixed;
		bottom: 0;
		left:0;
		right:0;
		width: 100%;
		padding:15px 0;
    background-color:  var(--colorSecond);

		height: 48px;
  z-index: -1;
  color: #868686;
  font-size: 14px;
	}
