

	section.intro{
    text-align: center;
    /*! overflow: hidden; */
    position: relative;
    z-index: 4; 
    padding-bottom: 50px;
	}
	section.intro .container{
/*! padding:0 50px; */
	} 
 


	section.intro .boxes{

		width: 55%;
		float: left;
	}

	section.intro .boxes .row{
width: 100%;
 }

	section.intro .boxes .row::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
 }


	section.intro .boxes .box{
		float:left;
		padding:0 15px;
		width: 50%;

	}
	section.intro .boxes .box:first-of-type{
  margin-bottom:42px;
	}
	section.intro .boxes .box .icon{

	color: var(--color);
	font-size: 32px;
	margin-bottom: 15px;
	}

	section.intro .boxes .box h2{

	font-size: 19px;
	font-weight: 600;
	}
	section.intro .boxes .box .title{

text-align: center;
	}
	section.intro .boxes .box h2{
		display: inline-block;
		/*! border-bottom: 1px solid #17a185; */
	}
	section.intro .boxes .box .text{ 

	font-size: 14px;
	} 
 



	section.intro .image{
    float:right; 
				width: 45%; 
    text-align: center;
    position: relative;
	}
 
	section.intro .image img{
	position: absolute;
	right: -25px;
	top: 0;
	width: 100%;
	}