/* ##  BANER */
section.baner {
    position: fixed;
    min-height: 800px;
    background: #234c71;
    background: -moz-linear-gradient(top, #234c71 0%, #183254 100%);
    background: -webkit-linear-gradient(top, #234c71 0%, #183254 100%);
    background: linear-gradient(to bottom, #1b3c68 0%, #000 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#234c 71', endColorstr='#183254', GradientType=0);
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    z-index: 1;
}


section.baner.logged .container{
top:225px;
    text-align: center;
}


section.baner .right .pass {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.1);
}

section.baner .right .pass a {
    color: rgba(255, 255, 255, 0.4);
}

section.baner .right .pass a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--colorDarker);
    color: rgba(255, 255, 255, 1);
}

section.baner .left h3 span {
    font-weight: 600;
    display: block;
}

section.baner .wave {
    position: absolute;
    bottom: -7px;
    width: 100%;
    z-index: 1;
    display: none;
    top: -128px;
}

section.baner .wave svg {
    width: 100%;
}

section.baner .paralax {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

section.baner .paralax .outer {
    position: relative;
    height: 100%;
}

section.baner .paralax .layerParalax {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
}

section.baner .paralax .layerParalax.layer1 {
    z-index: 1;
    top: 188px;
}

section.baner .paralax .layerParalax.layer2 {
    z-index: 2;
    top: 308px;
}

section.baner .paralax .layerParalax.layer3 {
    z-index: 3;
    top: 455px;
}

section.baner .paralax .layerParalax.layer4 {
    z-index: 4;
    top: 650px;
}

section.baner .paralax .layerParalax.layer4 img {
    bottom: -200px;
}

/* [L] */
@media all and (max-width: 1200px) {
    section.baner .left h3 span {
        font-size: 45px;
    }
    section.baner.logged .container{
top:205px;
}

}

/* [M] */
@media all and (max-width: 992px) {
    section.baner .left h3 {
        font-size: 42px;
    }

    section.baner .left h3 span {
        font-size: 32px;
    }

    section.baner .left h6 {
        font-size: 23px;
    }
}

/* [S] */
@media all and (max-width: 768px) {
    .fullPageForm .right .form form.loginForm {
        display: block;
    }

    .fullPageForm .right .form form.joinForm {
        display: none;
    }

    section.baner.logged .container{
top:184px;
}
    section.baner {
        min-height: unset;

    }
    section.baner.logged {
        height: 386px;
    }
    section.baner .left {
        display: none;
    }

    section.baner .right .form {
        top: 0;
    }

    section.baner .paralax {
        bottom: 210px;
    }

        section.baner .full h1 {
       font-size: 42px;
    }


}

/* [XS] */
@media all and (max-width: 576px) {
    section.baner {
        height: 100vh;
        /*! height: calc(100vh - calc(100vh - 100%)); */
    }

    section.baner .paralax {
        bottom: 210px;
    }
    section.baner.logged .container{
top:172px;
}


        section.baner .full h1 {
       font-size: 42px;
    }




}
