/* [L] */
@media all and (max-width: 1200px) {
    section.baner .left h3 span {
        font-size: 45px;
    }
    section.baner.logged .container{
top:205px;
}

}

/* [M] */
@media all and (max-width: 992px) {
    section.baner .left h3 {
        font-size: 42px; 
    }

    section.baner .left h3 span {
        font-size: 32px;
    }

    section.baner .left h6 {
        font-size: 23px;
    }
}

/* [S] */
@media all and (max-width: 768px) {
    .fullPageForm .right .form form.loginForm {
        display: block;
    }

    .fullPageForm .right .form form.joinForm {
        display: none;
    }

    section.baner.logged .container{
top:184px;
}
    section.baner {
        min-height: unset;

    }
    section.baner.logged {
        height: 386px;
    }
    section.baner .left {
        display: none;
    }

    section.baner .right .form {
        top: 0;
    }

    section.baner .paralax {
        bottom: 210px;
    }
    
        section.baner .full h1 {
       font-size: 42px;
    }
     
    
}

/* [XS] */
@media all and (max-width: 576px) {
    section.baner {
        height: 100vh;
        /*! height: calc(100vh - calc(100vh - 100%)); */
    }

    section.baner .paralax {
        bottom: 210px;
    }
    section.baner.logged .container{
top:172px;
}
    

        section.baner .full h1 {
       font-size: 42px;
    }
    
    
    
    
}
