section.contact{
    color:black;
    font-family: 'Open Sans', sans-serif;
}
section.contact .column{
  float:left;
	width: 50%;
  padding: 0 10px;
}
section.contact .success{
background-color: #1b3001;
}
section.contact .errors{

background-color: #700;

}
section.contact .success,
section.contact .errors{
    text-align: center;
    color: white;
padding: 25px;

}
section.contact .success .title,
section.contact .errors .title{

    font-weight: 100;
    margin-bottom: 5px;
}
section.contact .success .title{
         font-size: 18px;
}
section.contact .errors .title{

    font-size: 26px;

}
section.contact .errors .list{

}
section.contact .errors .list .item{
    font-weight: 100;
    background-color: rgba(0,0,0,0.1);
    padding:2px;
    margin-top: 2px;
}


section.contact .contener{
padding:0px 150px 75px;
}
section.contact .text{
       float: left;
       width: 440px;
}
section.contact .text p{
    margin-bottom:50px;
    line-height: 1.4;
}
section.contact .form{
    width: 100%;
    display: inline-block;
}
 

section.contact .form .input{

}
section.contact .form .input label{

    font-weight: 300;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding-left: 3px;
}
section.contact .form .input input,
section.contact .form .input textarea{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid silver;
    padding: 6px 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
}


section.contact .form .input input {

}
section.contact .form .input textarea {

    resize: vertical;
    min-height: 192px;
} 

section.contact .form .button{

}


section.contact .form .button button{

    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid silver;
    padding: 7px 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
/* [L] */
@media all and (max-width: 1199px)  {
	section.contact{

	}

	section.contact .success{

	}

	section.contact .errors{

	}

	section.contact .success,
	section.contact .errors{

	}

	section.contact .success .title,
	section.contact .errors .title{

	}

	section.contact .success .title{

	}

	section.contact .errors .title{

	}

	section.contact .errors .list{

	}

	section.contact .errors .list .item{

	}

	section.contact .contener{

	padding: 0 0 75px;
	}

	section.contact .text{

	}

	section.contact .text p{

	}

	section.contact .form{

	width: 295px;
	}

	section.contact .form .input{

	}

	section.contact .form .input label{

	}

	section.contact .form .input input,
	section.contact .form .input textarea{

	}

	section.contact .form .input input {

	}

	section.contact .form .input textarea {

	}

	section.contact .form .button{

	}

	section.contact .form .button button{

	}

}

/* [M] */
@media all and (max-width: 767px) {
	section.contact{

	}

	section.contact .success{

	}

	section.contact .errors{

	}

	section.contact .success,
	section.contact .errors{

	}

	section.contact .success .title,
	section.contact .errors .title{

	}

	section.contact .success .title{

	}

	section.contact .errors .title{

	font-size: 22px;
	margin-bottom: 5px;
	}

	section.contact .errors .list{

	}

	section.contact .errors .list .item{

	}

	section.contact .contener{

	padding: 0 0 35px;
	}

	section.contact .text{

	float: unset;
	width: 100%;
	}

	section.contact .text p{

	}

	section.contact .form{

	width: 100%;
	margin-top: 0px;
	}

	section.contact .form .input{

	}

	section.contact .form .input label{

	}

	section.contact .form .input input,
	section.contact .form .input textarea{

	}

	section.contact .form .input input {

	}

	section.contact .form .input textarea {

	}

	section.contact .form .button{

	}

	section.contact .form .button button{

	}

}

/* [S] */
@media all and (max-width: 479px) {
	section.contact{

	}

	section.contact .success{

	}

	section.contact .errors{

	}

	section.contact .success,
	section.contact .errors{

	}

	section.contact .success .title,
	section.contact .errors .title{

	}

	section.contact .success .title{

	}

	section.contact .errors .title{

	}

	section.contact .errors .list{

	}

	section.contact .errors .list .item{

	}

	section.contact .contener{

	}

	section.contact .text{

	}

	section.contact .text p{

	}

	section.contact .form{

	}

	section.contact .form .input{

	}

	section.contact .form .input label{

	}

	section.contact .form .input input,
	section.contact .form .input textarea{

	}

	section.contact .form .input input {

	}

	section.contact .form .input textarea {

	}

	section.contact .form .button{

	}

	section.contact .form .button button{

	}

}
